/* @import url("https://fonts.googleapis.com/css?family=Chakra+Petch:500&display=swap"); */
@font-face {
  font-family: "Chakra Petch";
  src: local("Chakra Petch"), url(./ChakraPetchRegular400.ttf) format("truetype");
}

body {
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* line-height: 50%; */
}

.App {
  /* text-align: center; */
  font-family: Chakra Petch, sans-serif;
}
